body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0px 18px;
}

#message-container {
  width: 80%;
  max-width: 1200px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background: #9eb8ff;
  max-height: 600px;
  overflow: auto;
}

#message-container div {
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

#message-container p.text {
  background-color: #ccc;
  padding: 10px 20px;
  margin: 0px 5px;
  display: inline-block;
  border-radius: 200px;
}

#send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 600px;
  width: 80%;
  height: 40px;
  display: flex;
}

#send-container input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
  padding-left: 20px;
}
#send-container button {
  background: #fff;
  border: 2px solid #ccc;
  border-left: 0px;
  padding: 0 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#message-input {
  flex-grow: 1;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}
